header{
    color: dimgrey;
    height: 90px;
    width: 100%;
    background: linear-gradient(to bottom right,#b1dee5, #0818ca) rgb(16, 178, 248);
    

}



header>h1{
    color: rgb(221, 208, 85);
    font-size: 250%;
    font-weight: bold;
    font-family: Candara;
    display:block;
    margin-left: 800px;
    margin-bottom: 20px;

}

aside{
    display: inline;
}

.Return {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56, 63, 59);
    text-decoration: none;
}



.img{
    width:352px;
    height:352px;
    margin-left:100px;
    display: inline-block;
    vertical-align: bottom;
}
.Desc {
    display:inline-block;
    font-size: 120%;
    height:100px;
    width:300px;
    font-size: 150%;
    color: rgb(77, 77, 230);
    font-weight: bold;
    font-family: Courier;
    
}

h3{
    margin-top: 100px;
    margin-left:100px;

}





.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
  }



button:active{
    height:150px;
    width:200px;
    
}



.buy{
    width: 200px;
    height:50px;
    border: 2px solid black;
    text-decoration: none;
    text-align: center;
    background: linear-gradient(to bottom right, white, orange) orange;
    font-family: fantasy;
    display: block;
    margin-bottom: 100px;

}
.buy>span{
    color: black;
}



.buy:hover{
    border-color: red; 
}
img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  


@media screen and (max-width: 768px) {
    header>h1{
        color: rgb(224, 22, 22);
        font-size: 130%;
        font-weight: bold;
        font-family: Candara;
        display:block;
        margin-left: 20%;
    
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(243, 241, 241);
        color: rgb(17, 17, 17);
        text-align: center;
        font-size: 10px;
      }
    

      .img{
          width: 200px;
          height: 200px;
      }

    
    

    
    
}