/*Global setup*/

body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.wrapper{
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

header>h1 {
    font-family: Candara;
    color: rgb(221, 208, 85);
    font-size: 500%;
    padding: 0px;
    margin: 0px;
       
}
header{

    background-repeat: no-repeat;
    background: linear-gradient(to bottom right,#b1dee5, #0818ca) rgb(16, 178, 248);
    text-align: center;
    padding-bottom: 50px;
    height: 200px;
}
header>h3{
    font-family: Arial, Helvetica, sans-serif;
}

header>nav>a{
    text-decoration: none;
    color: rgb(15, 54, 104);
    font-weight: bold;
    font-size: 150%;
    margin-right: 5%;
    margin-left: 5%;
    font-family: sans-serif;

}
header>nav>a:hover{
    
    color: rgb(236, 47, 22);
    font-weight: bold;
    font-size: 160%;
    text-decoration: underline;
}

#here {
    color: tan;
}

.listimages:hover{
    cursor: pointer;
}

article{
    
    float: center;
    padding:5px;
}

.tag {
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }

  /*-------------------------------*/
  .mySlides-fade{
    height: 482px;
  }


  .slideshow-container {
    max-width: 900px;
    position: relative;
    margin: auto;
    max-height:800px;
}

.mySlides {
    display: none;    
}

p{
    font-weight: bold;
    text-align: center;
    font-family: Arial;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #222428;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
}

.next {
    right: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev {
    left: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.8)
}



/*--------------------------------------------------*/

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding-top: 12px;
  padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #222428
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0
}


.active {
    background-color: #717171
}

ul, li{
    list-style: none;
}

.list-pictures{
    width: 900px;
    margin: 40px auto;
    margin-bottom: 1000px;
    clear: both;
}

.list-pictures ul{
    margin: 0;
    padding: 0;
}
.list-pictures ul li{
    float: left;
    margin-right: 30px;
}
.list-pictures ul li:nth-child(3n) {
    margin-right: 0;
}

.list-pictures ul li img{
    width:280px;
    height:250px;
}

/*-------------------------------------------------*/

/* --------------------------------------------------------- */

@media screen and (max-width: 768px) {    /*-------------------*/
    
    header>h1 {
        font-size: 200%; 
    }
    header>nav>a{
        font-size: 100%;        
    }
    header>nav{
        background-color: coral;
    }   

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(243, 241, 241);
        color: rgb(17, 17, 17);
        text-align: center;
        font-size: 10px;
      }

      img{
        height:300px;
        width:400px;
    }

    .next {
        right: -50px;
        border-radius: 3px 3px 3px 3px;
    }
    
    .prev {
        left: -50px;
        border-radius: 3px 3px 3px 3px
    }
    .mySlides {
        display: none;
        
        border: none; 
    }    
    .list-pictures{
        width: 768px;
        margin: 40px auto;
        margin-bottom: 1000px;
        clear: both;
        padding: 10px;
    }
    .slideshow-container {
        max-width: 680px;
        position: relative;
        margin: auto;
        max-height: 800px;
    }
    
    .list-pictures ul li img {
        width: 362px;
        height: 250px;
    }    
    
    .list-pictures ul li{
        float: left;
        margin-right: 30px!important;
    }
   
    .list-pictures ul li:nth-child(2n) {
        margin-right: 0!important;
    }
    
}

@media screen and (max-width: 375px) {    /*-------------------*/
    
    header>h1 {
        font-size: 200%; 
    }
    header>nav>a{
        font-size: 100%;        
    }
    header>nav{
        background-color: coral;
    }   

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(243, 241, 241);
        color: rgb(17, 17, 17);
        text-align: center;
        font-size: 10px;
      }

      img{
        height:280px;
        width:400px;
    }

    .next {
        right: -50px;
        border-radius: 3px 3px 3px 3px;
    }
    
    .prev {
        left: -50px;
        border-radius: 3px 3px 3px 3px
    }
    .mySlides {
        display: none;
        
        border: none; 
    }    
    .list-pictures{
        width: 375px;
        margin: 20px auto;
        margin-bottom: 1000px;
        clear: both;
        padding: 10px;
    }
    .slideshow-container {
        max-width: 306px;
        position: relative;
        margin: auto;
        max-height: 800px;
    }
    
    .list-pictures ul li img {
        width: 356px;
        height: 250px;
    }     
   
   
    .list-pictures ul li{        
        margin-right: 0;
    }
}
@media screen and (max-width: 852px) and (min-width: 800px){

}


/* --------------------------------------------------------- */